@import "../config";

.pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    li {
        width: 20px;
        margin: 0 10px;
        cursor: pointer;
        text-align: center;
        font-size: 1.1rem;
        &:hover {
            color: $hoverColor;
        }
    }
    .activePage {
        border-bottom: $primaryColor 2px solid;
    }
    .morepages {
        color: $primaryColor;
        cursor: default;
    }
}
